{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition - notifications contract",
    "version": "v0",
    "description": "Focused snapshot generated from https://www.typenull.xyz/v3/api-docs. Do not edit DTOs by hand."
  },
  "servers": [
    {
      "url": "http://www.typenull.xyz",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "App",
      "description": "앱 전용 API"
    }
  ],
  "paths": {
    "/firebase/fcm-tokens": {
      "post": {
        "tags": [
          "App"
        ],
        "summary": "FCM 토큰 등록",
        "description": "현재 기기의 FCM 토큰을 사용자에게 등록하거나 재등록합니다.",
        "operationId": "registerFcmToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FcmTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "요청 값 검증 실패 (VALIDATION_FAILED) 또는 도메인 입력 정책 위반",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않거나 만료된 Bearer JWT (INVALID_TOKEN 또는 EXPIRED_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한이 없거나 접근이 거부됨 (ACCESS_DENIED 또는 도메인 권한 오류)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "App"
        ],
        "summary": "FCM 토큰 삭제",
        "description": "로그아웃 또는 토큰 폐기 시 현재 기기의 FCM 토큰을 삭제합니다.",
        "operationId": "deleteFcmToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FcmTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "요청 값 검증 실패 (VALIDATION_FAILED) 또는 도메인 입력 정책 위반",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ValidationErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않거나 만료된 Bearer JWT (INVALID_TOKEN 또는 EXPIRED_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한이 없거나 접근이 거부됨 (ACCESS_DENIED 또는 도메인 권한 오류)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/notifications/settings": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "알림 설정 조회",
        "description": "현재 사용자의 알림 타입별 수신 여부와 quiet hours 설정을 조회합니다.",
        "operationId": "getSetting",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingResponse"
                },
                "example": {
                  "newHotplaceEnabled": true,
                  "newLikeEnabled": true,
                  "quietHoursEnabled": false,
                  "quietHoursStart": null,
                  "quietHoursEnd": null,
                  "timezone": "Asia/Seoul"
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않거나 만료된 Bearer JWT (INVALID_TOKEN 또는 EXPIRED_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한이 없거나 접근이 거부됨 (ACCESS_DENIED 또는 도메인 권한 오류)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "App"
        ],
        "summary": "알림 설정 수정",
        "description": "현재 사용자의 알림 타입별 수신 여부와 quiet hours 설정을 부분 수정합니다.",
        "operationId": "updateSetting",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSettingUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "timezone 또는 quiet hours 설정 오류",
            "content": {
              "*/*": {
                "example": {
                  "message": "quiet hours 설정을 확인해주세요.",
                  "code": "INVALID_QUIET_HOURS"
                }
              }
            }
          },
          "401": {
            "description": "유효하지 않거나 만료된 Bearer JWT (INVALID_TOKEN 또는 EXPIRED_TOKEN)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한이 없거나 접근이 거부됨 (ACCESS_DENIED 또는 도메인 권한 오류)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "에러 메시지",
            "example": "유효하지 않은 토큰입니다."
          },
          "code": {
            "type": "string",
            "description": "도메인 에러 코드. 일부 공통 검증 오류에서는 제공되지 않을 수 있습니다.",
            "nullable": true,
            "example": "INVALID_TOKEN"
          }
        },
        "description": "에러 응답"
      },
      "FcmTokenRequest": {
        "required": [
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "최신 기기 FCM 토큰",
            "example": "fcm-device-token-sample"
          }
        },
        "description": "FCM 토큰 업데이트 요청"
      },
      "NotificationSettingResponse": {
        "type": "object",
        "properties": {
          "newHotplaceEnabled": {
            "type": "boolean",
            "description": "핫플레이스 알림 수신 여부",
            "example": true
          },
          "newLikeEnabled": {
            "type": "boolean",
            "description": "좋아요 알림 수신 여부",
            "example": true
          },
          "quietHoursEnabled": {
            "type": "boolean",
            "description": "quiet hours 적용 여부",
            "example": false
          },
          "quietHoursStart": {
            "type": "string",
            "description": "quiet hours 시작 시각",
            "format": "time",
            "example": "22:00:00"
          },
          "quietHoursEnd": {
            "type": "string",
            "description": "quiet hours 종료 시각",
            "format": "time",
            "example": "08:00:00"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone",
            "example": "Asia/Seoul"
          }
        },
        "description": "알림 수신 설정 응답"
      },
      "NotificationSettingUpdateRequest": {
        "type": "object",
        "properties": {
          "newHotplaceEnabled": {
            "type": "boolean",
            "description": "핫플레이스 알림 수신 여부",
            "example": true
          },
          "newLikeEnabled": {
            "type": "boolean",
            "description": "좋아요 알림 수신 여부",
            "example": false
          },
          "quietHoursEnabled": {
            "type": "boolean",
            "description": "quiet hours 적용 여부",
            "example": true
          },
          "quietHoursStart": {
            "type": "string",
            "description": "quiet hours 시작 시각",
            "format": "time",
            "example": "22:00:00"
          },
          "quietHoursEnd": {
            "type": "string",
            "description": "quiet hours 종료 시각",
            "format": "time",
            "example": "08:00:00"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone",
            "example": "Asia/Seoul"
          }
        },
        "description": "알림 수신 설정 수정 요청"
      },
      "ValidationErrorResponse": {
        "required": [
          "code",
          "errors",
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "example": "VALIDATION_FAILED"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "description": "필드 검증 오류 응답"
      }
    }
  },
  "x-upstream-source": "https://www.typenull.xyz/v3/api-docs"
}
